In [1]:
x = 5 # initial data

# Hidden Mutations
x = 3*x
x += 1
# Hidden Mutations

# Problem - Can't rollback mutations

In [2]:
x

16

In [4]:
x = 5

x1 = 2*x
x2 = x1 + 1 

# Problem - Too many variables

In [5]:
x = 5

def mutation_1(x):
    x = 2*x
    x += 1
    
    return x

x1 = mutation_1(x)

## Maps

In [6]:
a = [1,2,3,4,5]

In [9]:
res1 = [ i**2 for i in a ]
# __iter__
# __next__

In [10]:
res1

[1, 4, 9, 16, 25]

In [12]:
m = map(lambda x: x**2, a)

In [14]:
m_list = list(m)

In [15]:
m_list

[1, 4, 9, 16, 25]

In [16]:
m_direct = list(map(lambda x: x**2, a))

In [17]:
m_direct

[1, 4, 9, 16, 25]

In [20]:
# Convert given height to t-shirt size
# h < 150 -> S
# h >= 150 and h < 180 -> M
# h >= 180 -> L

heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]

In [22]:
def complex_logic(height):
    if height < 150:
        return "S"
    elif height >= 150 and height < 180:
        return "M"
    elif height > 180:
        return "L"

In [23]:
sizes = list(map(complex_logic, heights))

In [156]:
sizes_2 = list(map(lambda x: "S" if x < 150 else "M" if x >= 150 and x < 180 else "L", heights))

In [157]:
sizes_2

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [24]:
sizes

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [26]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

# C = [True, True, False.........]

In [27]:
# C = True if both have same element else False

In [28]:
random1 = [1,2,3]
random2 = [1,2,3]

random = list(map(lambda x,y: x+y, random1, random2))

In [29]:
random

[2, 4, 6]

In [30]:
C = list(map(lambda x, y: x==y, A, B))

In [31]:
C

[False, True, False, True, False, True, False, False, True, False, True, False]

## Filters

In [34]:
a = list(range(1,11))

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
f = filter(lambda x: x%2 == 0, a)

In [37]:
f_list = list(f)

In [38]:
f_list

[2, 4, 6, 8, 10]

## Zip

In [49]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]
# c = ["x", "y", "z", "m", "n"]

In [52]:
result = list(zip(b,a))

In [53]:
result

[('a', 1), ('b', 2), ('c', 3)]

## Reduce

In [55]:
from functools import reduce

# this lines brings reduce function into current code

In [57]:
a = [1,2,3,4,5]

In [58]:
result = reduce(lambda x, y: x + y, a)

In [59]:
result

15

In [69]:
a = list(range(1,11))
b = list(reversed(a))

In [70]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
print(reduce(lambda x,y: x*y, a) == reduce(lambda x,y: x*y, b))

True

In [73]:
# Give me the max element from a list of elements

In [76]:
max_element = reduce(lambda x, y: x if x>y else y, a)

In [77]:
max_element

10

In [80]:
reduce(lambda x, y: x + y, a, 100)

# By default - initial = first element of the list

155

## Args and Kwargs

In [84]:
def sum_number(x, y):
    return x + y

# A good sum function
# - should take at least 2 arguments
# - should take a max of infinite arguments

In [85]:
res = sum_number(6,7)

In [86]:
res

13

In [94]:
bool(())

False

In [117]:
def sum_number(x, y, *args):
    result = x + y
    if args:
        result += sum(args)
        
    return result

In [118]:
def sum_number(x, y, *meri_marzi_ka_nam):
    result = x + y
    if meri_marzi_ka_nam:
        result += sum(meri_marzi_ka_nam)
        
    return result

In [119]:
sum_number(5,6,7,8,9,10,11,12,13,14,15,16)

126

In [120]:
sum_number(5, 9, 10)

24

In [121]:
def create_person(name, age, gender):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    return Person

In [122]:
p1 = create_person(name = "Rohit", age = 1500, gender = "Male")

In [123]:
p1

{'name': 'Rohit', 'age': 1500, 'gender': 'Male'}

In [124]:
def create_person(name, age, gender, **extra_info):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    if extra_info:
        Person.update(extra_info)
    
    return Person

In [125]:
create_person(name = "Rohit", age = 1500, gender = "Male", color = "blue", hobby = "chess")

{'name': 'Rohit',
 'age': 1500,
 'gender': 'Male',
 'color': 'blue',
 'hobby': 'chess'}

In [151]:
def random(x, y, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)

In [152]:
random(1,2,4,5,6,m=1,n=2,o=3,8,9,0)

SyntaxError: positional argument follows keyword argument (3898687063.py, line 1)

In [153]:
# Positional -> Args -> Keyworded -> Kwargs

In [155]:
random(2,1,2,3,z=1)

2
(2, 3)
{'z': 1}

In [132]:
random(1,y=2)

1
()
{'y': 2}

In [134]:
random = lambda x: x+2 if x > 5 else continue?

Object `continue` not found.

In [146]:
random1 = lambda x: x+2 if x > 5 else break

SyntaxError: invalid syntax (2612326829.py, line 1)

In [144]:
res = random1(6)

In [145]:
res

8

In [160]:
def rand1(x,y,*args,**kw):
    print(x,y)
    print(args)
    print(kw)
    
def rand(x,y):
    print(x,y)

In [163]:
rand(y=2,x=1)
rand1(x=1,y=2)
# x = 1
# y = 2
# args = (3,)
# kwargs

1 2
1 2
()
{}